@use './colors.scss' as color;
@use './fonts.scss' as font;

#main-about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
}

.about-us {
    display: flex;
    height: auto;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: linear-gradient(0.25turn, #604F45AD, #755949AD, #4F423AAD);
    color: color.$white-color;
    border-top: 2px solid color.$border-color;
    border-bottom: 2px solid color.$border-color;
    width: 60%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
   
}
@media screen and (max-width: 768px) {
    .about-container {
        margin-top: 25%;
        width: 95%;
    }
    .about-container .about-text {
        width: 100%;
        font-size: 1.2em;
    }
    
}
.about-title {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: font.$slogan-font;
    color: color.$white-color;
    margin-bottom: 20px;
}
.about-text {
    font-size: 1.5em;
    color: color.$white-color;
    margin-bottom: 20px;
}