$primary-color: #786154;
$white-color: #FFFFFF;
$Off-white-color: #ffffffdb;
$black-color: #00000085;
$logo: #888888a8;
$button-color: #94e64d;
$hover-text-color: #3C91E6;
$border-color: rgba(255, 255, 255, 1);