@use './components/loader.scss' as loader;
@use './components/buttons.scss' as button;
@use './components/colors.scss' as color;
@use './components/fonts.scss' as font;
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Instrument+Serif:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-image: url('images/woodenBG.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: repeat-y;
}
body {
  height: 200vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  margin: 0;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr;
  grid-template-areas: ". logo slogan buttons .";
  width: 100%;
  height: auto;
  grid-area: header;
  background-color: color.$primary-color;
  border-top: 2px solid color.$border-color;
  border-bottom: 1px solid color.$border-color;
  z-index: 300;



  #header-logo {
    position: absolute;
    border: 3px solid color.$border-color;
    z-index: 0;
    top:195%;
    left:5%;
    width: 250px;
    height: 250px;
    background-image: url('images/logo/logo_white.png');
    opacity: 20%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotate(-20deg);
    font-size: 2em;
    font-weight: bold;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  }

  #slogan {
    grid-area: slogan;
    min-width: 400px;
    width: auto;
    margin-right: 200px;
    align-self: center;
    color: color.$white-color;
    font-family: font.$slogan-font;
    text-shadow: 4px 2px 3px black;
    letter-spacing: 0.1em;
    font-style: italic;
    font-size: 1.8em;
    
  }
  @media screen and (max-width: 1200px) {
    #slogan {
      margin-right: 50px;
      display: none;
    }
    
  }
 
  #menu-buttons {
    position: relative;
    grid-area: buttons;
    display: flex; 
    justify-content: center;
    align-self: center;
    gap: 100px;
    height: 45px;
  }

  .hamburger-btn {
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  
}

  #header-logo {
    position: absolute;
    border: 3px solid color.$border-color;
    z-index: 0;
    top:195%;
    left:80%;
    width: 250px;
    height: 250px;
    background-image: url('images/logo/logo_white.png');
    opacity: 20%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotate(-20deg);
    font-size: 2em;
    font-weight: bold;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  }

  #slogan {
    grid-area: slogan;
    min-width: 400px;
    width: auto;
    margin-right: 200px;
    align-self: center;
    color: color.$white-color;
    font-family: font.$slogan-font;
    text-shadow: 4px 2px 3px black;
    letter-spacing: 0.1em;
    font-style: italic;
    font-size: 1.8em;
    
  }
  @media screen and (max-width: 1200px) {
    #header-logo {
      display: none;
    }
    #slogan {
      margin-right: 50px;
      display: none;
    }
    
  }
 
  #menu-buttons {
    grid-area: buttons;
    display: flex; 
    justify-content: center;
    align-self: center;
    gap: 100px;
    height: 45px;
    transition: top 0.5s ease-in-out;
  }

  .hamburger-btn {
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: none;
    background: transparent;
  }
  .hamburger-btn li {
    width: 30px;
    height: 3px;
    background-color: color.$white-color;
  }
  @media screen and (max-width: 568px) {
    #menu-buttons {
      display: none;
      flex-direction: column;
      gap: 20px;
      left: 0;
    }
   
  
    #menu-buttons.show {
      display: flex;
      
      flex-direction: row;
      right: 150px;      
    }
  
    .hamburger-btn {
      display: flex;

      .line {
        width: 30px;
        height: 3px;
        background-color: color.$white-color;
      }
    }
  }


  .dropdown-menu  {
    position: absolute;
    z-index: 1000;
  }
  .dropdown-menu a {
    position: relative;
    cursor: pointer;
    color: color.$white-color;
    text-decoration: none;
    margin-left: 5px;
    text-align: start;
    padding: 10px;
    letter-spacing: 0.1em;
    z-index: 1000;

  }
  @media screen and (max-width: 1200px) {
    .dropdown-menu {
      top: 45px;
      z-index: 1000;
    }
    
  }
  @media screen and (max-width: 568px) {
    .dropdown-menu{
      position: absolute;
      top: 44px;
      z-index: 1000;
    }
    
  }

  .dropdown-menu a:hover {
    margin-left: 10px;
  }

  button:hover {
    color: color.$hover-text-color;
    transition: all 0.3s ease-in-out;
  }
}

footer {
  position: relative;
  display: grid;
  grid-area: footer;
  grid-template-columns: auto auto auto;
  grid-template-areas: "const image";
  width: 100%;
  height: 250px;
  background-color: color.$primary-color; 
  bottom: 0;
  border-top: 2px solid color.$border-color;
  border-bottom: 2px solid color.$border-color;
  overflow: visible;
}

.footer-bg {
  grid-area: const;
  position: absolute;
  width: 100vw;
  height: 50vh;
  bottom: 10px;
  background-image: url('images/bottom_bg.png');
  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.6));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}

